{% extends 'base.html' %}


{% block content %}
      
      <div class="card">
            <div class="card__title">
              <div class="icon">
                <a href="#"><i class="fa fa-arrow-left"></i></a>
              </div>
              <h3>New products</h3>
            </div>
            <div class="card__body">
              <div class="half">
                <div class="featured_text">
                  <h1>Nurton</h1>
                  <p class="sub">Office Chair</p>
                  <p class="price">$210.00</p>
                </div>
                <div class="image">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/613A7vcgJ4L._SL1500_.jpg" alt="">
                </div>
              </div>
              <div class="half">
                <div class="description">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptatem nam pariatur voluptate perferendis, asperiores aspernatur! Porro similique consequatur, nobis soluta minima, quasi laboriosam hic cupiditate perferendis esse numquam magni.</p>
                </div>
                <span class="stock"><i class="fa fa-pen"></i> Out stock</span>
                <div class="reviews">
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-o"></i></li>
                  </ul>
                  <span>(64 reviews)</span>
                </div>
              </div>
            </div>
            <div class="card__footer">
              <div class="recommend">
                <p>Recommended by</p>
                <h3>Andrew Palmer</h3>
              </div>
              <div class="action">
                <button type="button">Add to cart</button>
              </div>
            </div>
          </div>

{% for product in results %}

  <div class="card" style="width: 18rem;">
      <img src="{{ product.image }}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ product.name.title() }}</h5>
        <p class="card-text">{{ product.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ product.category.title() }}</li>
        <li class="list-group-item">${{ product.price }}</li>
        <li class="list-group-item">Rated {{ product.rating.rate }} stars by {{ product.rating.count }} customers</li>
      </ul>
      <div class="card-body">
        <a href="/product/{{ product.id }}" class="card-link">View</a>
        <a href="/cart/{{ product.id }}" class="card-link">Add to cart</a>
      </div>
    </div>

{% endfor %}
{% endblock %}